# Игнорировать данные дли переменных виртуального окружения
.env
# Игнорировать временные файлы
*~
# Игнорировать файл логов
.log
# Игнорировать файловое хранилище
/files-storage/
# Игнорировать build
/note-adviser-bot
